.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.tabs button {
  font-family: "NowAlt-Medium";
  padding: 0.7rem 1.3rem;
  margin: 0 0.6rem;
  font-size: 0.9rem;
  color: white;
  background-color: var(--second-color);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}

.tabs button.active {
  background-color: #e88d67;
  color: var(--second-color);
}

.all-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.3rem;
}

.recipe-card {
  background-color: white;
  border: 0.06rem solid #ddd;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  width: 100%;
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
}

.recipe-card h3 {
  font-family: "Aleo-Black";
  font-size: 1.5rem;
  color: var(--second-color);
  margin-bottom: 0.6rem;
}

.buttonDetails {
  font-family: "NowAlt-Medium";
  padding: 0.3rem 0.7rem;
  font-size: 14px;
  color: var(--second-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonDetails:hover {
  color: white;
  background-color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .all-recipes {
    margin-top: 1.2rem;
  }
  .recipe-card {
    max-width: 22rem;
    justify-content: end;
    padding: 1rem 1rem 2rem 1rem;
  }
  .body-recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body-recipe-card img {
    height: 15rem;
  }

  .buttonDetails {
    font-size: 1.3rem;
  }
}
